@import "tailwindcss";

body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  /* Prevents horizontal scroll */
}

/* Custom Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}